@import url("https://use.typekit.net/jmk3xov.css");

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid white;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: white;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(180deg);}
  50% {transform: rotate(180deg);}
  75% {transform: rotate(360deg);}
  100% {transform: rotate(360deg);}
}

@keyframes loader-inner {
  0% {height: 0%}
  25% {height: 0%}
  50% {height: 100%}
  75% {height: 100%}
  100% {height: 0%}
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

body {overflow-x: hidden;}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, h4, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

header {
  background: black;
  grid-column: 2 / span 5;
  font-size: 2rem;
  padding: 2rem;
  margin-top: 10rem;
  margin-bottom: var(--spacing);
}

section {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

.left {
  grid-column: 6 / 12;
}

.lid, .info {
  grid-column: 4 / 10;
}

.info {
  text-align: center;
}

.info-mobile {
  display: none;
}

.contact {
  grid-column: 2 / 12;
  padding-bottom: 0;
}

#scrollProgress {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 99;
  font-size: 3vh;
}

.pic {
  grid-column: 2 / 5;
}

img.pro {
  width: 80%;
  height: 15%;
  margin-left: 10%;
  border-color: antiquewhite;
  border-width: 1px;
  border-style: solid;
}

.con {
  width: 20%;
  height:55%;
  margin-top:3%;
}

@media (max-width: 850px) {
  header {
    text-align: center;
    grid-column: 3 / span 8;
    font-size: 1rem;
  }
  
  section, .left, .lid {
    grid-column: 3 / span 8;
    margin-bottom: 8rem;
  }

  .pic {
    display: none;
  }

  .contact {
    background-color: grey;
  }
  
  .info {
    display: none;
  }

  .info-mobile {
    font-size: .8rem;
    text-align: center;
    display: block;
  }
  
}
